@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
}